<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--  Android 12 까지는 앱 진입 시, 기본적으로 알림이 허용이었습니다.
    하지만, Android 13 부터는 알림의 기본 옵션이 차단이며 이를 허용하기 위해서는 별도로 권한을 요청 해야합니다.  -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <!--  부팅시 자동실행  -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <!-- ContentProvider -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <permission android:name="com.example.finebyme.data.provider.READ_DB" android:protectionLevel="normal"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <permission android:name="com.example.finebyme.data.provider.WRITE_DB" android:protectionLevel="normal"/>
    
    <application
        android:name=".FineByMeApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/finebyme_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/finebyme_launch_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FineByMe"
        tools:targetApi="31">
        <activity
            android:name=".presentation.view.PhotoDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.App.Starting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".presentation.widget.FineByMeWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.example.finebyme.presentation.widget.ACTION_UPDATE_WIDGET"/>
                <action android:name="com.example.finebyme.presentation.widget.ACTION_UPDATE_WIDGET_APP"/>
                <action android:name="com.example.finebyme.presentation.widget.ACTION_UPDATE_WIDGET_ALARAM"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <!-- intent filter에는 AppWidgetManager에 정의되어있는 BroadcastReceiver를 명시,
            기본적으로 위젯에 업데이트를 받아야 하기 때문에 APPWIDGET_UPDATE Action을 추가(AppWidgetProvider가 BroadcastReceiver 기반),
             AppwidgetManager 는 필요에 따라 모든 위젯 브로드캐승트를 자동으로 AppWidgetProvider 에 전송-->

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/finebyme_appwidget_info"
                />
            <!-- AppWidgetProviderInfo를 연결(식별)하기 위해 meta-data를 추가 -->
        </receiver>

<!--        <service android:name=".presentation.service.FineByMeWidgetService"-->
<!--            android:enabled="true"-->
<!--            android:exported="true"-->
<!--            android:permission="android.permission.BIND_REMOTEVIEWS">-->
<!--        </service>-->
    <!--    RemoteViewsService시스템 만 시스템에 바인딩 할 수 있도록 권한을 부여, 내부 어댑터 설정에 필요    -->

        <provider
            android:authorities="com.example.finebyme.data.provider.FbmContentProvider"
            android:name=".data.provider.FbmContentProvider"
            android:exported="true"
            android:readPermission="com.example.finebyme.data.provider.READ_DATABASE"
            android:writePermission="com.example.finebyme.data.provider.WRITE_DATABASE"/>
    </application>

</manifest>

<!--    android:readPermission="com.example.finebyme.data.provider.READ_DATABASE"-->
<!--    android:writePermission="com.example.finebyme.data.provider.WRITE_DATABASE"-->
<!--    android:grantUriPermissions="true"-->